node_modules/
package-lock.json
.yarn/cache
*.env
*.pem 
*.key
*.crt
*.env.*
*.DS_Store
.DS_Store
config.json 
secret.json
.js.*
.ts.map
.d.ts
.tsbuildinfo
.log
.xml
.nx/cache
.nx/workspace-data
.yarn/cache
.lockfile.hash
.lockfile.*
.lockfile
.vscode
.yarnrc
.vscode-test
.vscode-test/*
.vscode-test/.*
.vscode-test/
.nx/*
.nx/.*
build/
node_modules
/.idea
/.fleet
/.vscode
dist
/build
/coverage
./test
.DS_Store
tmp
*.log
jest.debug.config.js
.tool-versions
/.nx-cache
/.nx
/.verdaccio/build/local-registry
/graph/client/src/assets/environment.js
/graph/client/src/assets/dev/environment.js
/graph/client/src/assets/generated-project-graphs
/graph/client/src/assets/generated-task-graphs
/graph/client/src/assets/generated-task-inputs
/graph/client/src/assets/generated-source-maps
/nx-dev/nx-dev/public/documentation
/nx-dev/nx-dev/public/images/open-graph
**/tests/temp-db
/scripts/issues-scraper/cached
CHANGELOG.md
.next
out
.env.local
.bashrc
*.node
.pnpm-store
.nx
!.nx/workflows
.cargo/.package-cache
.cargo/bin/
.cargo/env
.cargo/registry/
.local/
.npm/
.profile
.rustup/
target
*.wasm
/wasi-sdk*
vite.config.*.timestamp*
build/*
dist/*
.DS_Store
yarn.lock
packages/.DS_Store
packages/core/audit-logs/
packages/core/audit-logs/*
packages/core/build/
packages/core/build/*
packages/core/dist/
packages/core/node_modules/